@import "../styleFunctions/functions";

.hero-img {
  @include widthHeight(100%, fit-content);
  // @include maxWidth(var(--Desktop));
  margin: 5px 0 120px 0;
  // @include temporaryOutline(blue);
}

//Begin Tablet Media Queries
@media screen and (max-width: 834px) {
  //! be mindful of specificity issues
  .hero-img {
    margin-bottom: 68px;
  }
}

//^ Utility classes

.zeroBottomMargin {
  margin-bottom: 0;
}

.negativeBottomMargin {
  margin-bottom: -3px;
}
