@import "../styleFunctions/functions";

.hero-img {
  @include widthHeight(100%, 100%);
  // @include maxWidth(var(--Desktop));
  margin: 5px 0 120px 0;
  // @include temporaryOutline(red);
}

//Begin Tablet Media Queries
@media screen and (max-width: 834px) {
  //! be mindful of specificity issues
  .hero-img {
    margin-bottom: 68px;
  }
}
//Begin Mobile Media Queries
@media screen and (max-width: 530px) {
  //! be mindful of specificity issues
  .hero-img {
    margin-bottom: 32px;
  }
}

//^ Utility classes

.zeroBottomMargin {
  margin-bottom: 0;
}

.negativeBottomMargin {
  margin-bottom: -3px;
}
