@import "../../styleFunctions/functions";

//modal class to gray out the page
.contact-modal-page-wrapper {
  position: absolute;
  top: -26%;
  @include flex(row);
  @include flexPosition(center, center);
  @include widthHeight(100vw, 1700px);
  background-color: #00000033;
  z-index: 999;
}

.contact-modal-outer-wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include flex(column);
  @include flexPosition(center, flex-start);
  @include widthHeight(680px, 238px);
  background-color: var(--White);
  // @include temporaryOutline(green);

  .contact-form-text-wrapper {
    @include widthHeight(491px, fit-content);
    margin: 30px 0 0 30px;
    // @include temporaryOutline(blue);

    h1,
    p {
      font-family: var(--HN-Light);
      font-weight: var(--Light-Weight);
      color: var(--Grey-100);
    }

    h1 {
      margin: 0;
      font-size: var(--Heading-2);
    }

    p {
      margin: 18px 0 8px 0;
      font-size: var(--Body);
      line-height: 26px;
    }
  } // End text wrapper

  img {
    @include widthHeight(142px, fit-content);
    // @include temporaryOutline(red);
  }
} // End outer wrapper

//^ Utility classes
.hidden {
  display: none;
}
