@import "../styleFunctions/functions";

.quote-outer-wrapper,
.quote-inner-wrapper {
  @include flex(column);
  @include flexPosition(center, center);
  background-color: var(--Grey-100);
}

.quote-outer-wrapper {
  @include widthHeight(var(--Full), fit-content);
  min-height: 319px;
  //   @include temporaryOutline(red);
  padding: 120px 100px;

  .quote-inner-wrapper {
    @include widthHeight(100%, fit-content);
    // @include temporaryOutline(blue);
    @include maxWidth(990px);

    .quote-title,
    .quote-author {
      color: var(--White);
      text-align: center;
    }

    .quote-title {
      font-family: var(--Windsor);
      font-size: 32px;
      margin: 0 0 64px 0;
      line-height: normal;
    }

    .quote-author {
      font-family: var(--HN-Light-Italic);
      font-weight: var(--Light-Weight);
      font-size: 18px;
      margin: 0;
    }
  } // End inner wrapper
} // End outer wrapper

//Begin Tablet Media Queries
@media screen and (max-width: 834px) {
  .quote-outer-wrapper {
    padding: 103px 0;

    .quote-inner-wrapper {
      .quote-title {
        @include maxWidth(724px);
        margin-bottom: 51px;
        font-size: 42.769px;
        font-weight: 5;
        line-height: normal;
      }
      .quote-author {
        font-size: 34.215px;
        line-height: 55.6px; /* 162.5% */
      }
    }
  }
}

//Begin Tablet Media Queries
@media screen and (max-width: 530px) {
  .quote-outer-wrapper {
    // height: 194px;
    padding: 0;

    .quote-inner-wrapper {
      padding: 48px 0;
      // border: 2px solid red;
      .quote-title {
        @include maxWidth(339px);
        margin-bottom: 24px;
        font-size: var(--Heading-3);
        font-weight: 5;
        line-height: normal;
      }
      .quote-author {
        font-size: var(--Body-Small);
        line-height: 26px;
      }
    }
  }
}

//Begin Mobile Media Queries
@media screen and (max-width: 390px) {
  .quote-outer-wrapper {
    padding: 48px 0;

    .quote-inner-wrapper {
      .quote-title {
        @include maxWidth(339px);
        margin-bottom: 24px;
        font-size: var(--Heading-3);
        font-weight: 5;
        line-height: normal;
      }
      .quote-author {
        font-size: var(--Body-Small);
        line-height: 55.6px; /* 162.5% */
      }
    }
  }
}
