@import "../styleFunctions/functions";

.btn {
  @include widthHeight(211px, 45px);
  font-weight: var(--Light-Weight);
  font-size: var(--Body);
  border-radius: 0;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    opacity: 85%;
  }

  &:active {
    opacity: 100%;
  }
}

// Utility classes for each button type

.white {
  font-family: var(--HN-Light);
  color: var(--Grey-100);
  background-color: var(--White);
  border: 1px solid var(--Grey-100);
}

.grey {
  font-family: var(--HN-Medium);
  color: var(--White);
  background-color: var(--Grey-100);
}

.contact {
  @include widthHeight(146px, 45px);
  padding: 8px 16px;
}

.work {
  @include widthHeight(279px, 45px);
  padding: 8px 16px;
}
