@import "../../components/styleFunctions/functions";

.item-wrapper {
  @include flex(row);
  @include widthHeight(89.5%, 100%);
  @include flexPosition(space-between, center);
  margin: -6px 0 5px;
  user-select: none;
  // border: 2px solid red;

  .cart-left {
    position: relative;
    @include flex(row);
    @include flexPosition(space-between, center);
    @include widthHeight(50%, 100%);
    // border: 1px solid blue;

    .cart-img {
      @include widthHeight(125px, 150px);
      margin: 10px 0;
      // @include temporaryOutline(green);
    }
    // @include temporaryOutline(green);
    .cart-detail {
      @include widthHeight(140px, 100%);
      // border: 2px solid red;

      // margin-top: 15px;
      // margin-left: 25px;

      h2 {
        margin-bottom: 6px;
        font-size: var(--Body);
        line-height: 26px;
      }
    }
    //   @include temporaryOutline(green);
  } // end cart left
  .cart-right {
    @include widthHeight(40%, 100%);
    position: relative;
    @include flex(row);
    @include flexPosition(space-between, flex-start);
    // border: 1px solid blue;

    .increment-and-remove-btn-wrapper {
      @include flex(column);
      @include flexPosition(center, flex-start);
      // border: 2px solid blue;

      .increment-btn-wrapper {
        @include flex(row);
        @include flexPosition(space-evenly, center);
        @include widthHeight(110px, 50px);
        background-color: var(--White);
        border: 1px solid #000;
        // border: 2px solid red;

        button,
        .quantity {
          font-size: var(--Body-Small);
          color: var(--Black);
          font-weight: 400;
        }

        button {
          background-color: var(--White);
          border: none;
          outline: none;

          color: var(--Black);
          font-weight: 400;
          cursor: pointer;
          // border: 1px solid blue;
        }

        .quantity {
          // user-select: none;
        }

        //^ These util classes for showing / hiding number dropdown menu must be inside cart-right class in order to function
        .hidden {
          display: none;
        }

        .bold {
          color: var(--Grey-100);
        }
      } // end increment btn wrapper

      .remove-btn {
        margin: 8px 0 0 0;
        font-family: var(--HN-Light);
        font-weight: 300;
        font-size: var(--Label);
        color: var(--Grey-50);
        cursor: pointer;
        &:active {
          color: var(--Black);
        }
      }
    } // end increment and remove btn wrapper

    .item-price {
      width: fit-content;
      margin-top: 14px;
      font-family: var(--HN-Light);
      font-weight: bold;
      font-size: var(--Body-Small);
      color: var(--Black);
      line-height: 26px;
      letter-spacing: 0.6px;
      text-align: right;
      // border: 1px solid green;
    }
  } // end cart right
  // @include temporaryOutline(blue);
} // end item wrapper

//Begin Tablet Media Queries
@media screen and (max-width: 834px) {
  .item-wrapper {
    @include flexPosition(space-between, center);
    // outline: 1px solid green;

    .cart-left {
      @include flex(row);
      @include flexPosition(center, center);
      // border: 1px solid orange;

      .cart-img {
        @include widthHeight(125px, 150px);
        margin: 0;
        // @include temporaryOutline(green);
      }
      // @include temporaryOutline(green);
      .cart-detail {
        @include flex(column);
        @include flexPosition(center, center);
        width: 170px;

        h2 {
          text-align: center;
          line-height: normal;
        }
      }
    } // end cart left
    .cart-right {
      @include flex(row);
      @include flexPosition(space-between, center);
      @include widthHeight(40%, 100%);
      // border: 1px solid green;

      .increment-and-remove-btn-wrapper {
        @include flexPosition(center, center);
      }
      .item-price {
        margin: 0 0 25px 0;
      }
    } // end cart right
  }
} // end tablet media queries

//begin mobile media queries
@media screen and (max-width: 450px) {
  .item-wrapper {
    @include flex(column);
    @include flexPosition(space-between, center);
    max-width: 340px;
    // outline: 1px solid green;

    .cart-left {
      @include flex(row);
      @include flexPosition(flex-start, center);
      @include widthHeight(100%, 60%);
      @include maxWidth(340px);

      // border: 1px solid orange;

      .cart-img {
        @include widthHeight(102px, 127px);
        margin: 0;
        // @include temporaryOutline(green);
      }
      // @include temporaryOutline(green);
      .cart-detail {
        @include flex(column);
        @include flexPosition(center, flex-start);
        @include widthHeight(fit-content, fit-content);
        margin-left: 14px;
        // border: 2px solid red;
        h2 {
          @include flex(column);
          @include flexPosition(center, flex-start);
          height: fit-content;
          margin: 0;
          font-size: var(--Body-Small);
          text-align: left;
          line-height: 26px;
        }
      }
    } // end cart left
    .cart-right {
      @include flex(row);
      @include flexPosition(center, center);
      @include widthHeight(100%, 100%);
      margin-top: -15px;
      // border: 1px solid pink;

      .increment-and-remove-btn-wrapper {
        @include flexPosition(center, flex-start);

        .remove-btn {
          font-size: var(--Label);
        }
      }
      .item-price {
        margin: 0 0 25px 0;
      }
    } // end cart right
  }
} // end  mobile media queries
