@import "../../components/styleFunctions/functions";

.item-wrapper {
  @include flex(row);
  @include flexPosition(space-between, center);
  margin: -6px 0 5px;

  .cart-left {
    position: relative;
    @include flex(row);
    @include flexPosition(center, center);
    .cart-img {
      @include widthHeight(125px, 150px);
      margin: 10px 0;
    }
    // @include temporaryOutline(green);
    .cart-detail {
      @include widthHeight(auto, 100%);
      // border: 2px solid red;

      // margin-top: 15px;
      margin-left: 25px;

      h2 {
        margin-bottom: 6px;
        font-size: var(--Body);
        line-height: 26px;
      }
    }
    //   @include temporaryOutline(green);
  } // end cart left
  .cart-right {
    position: relative;
    @include flex(row);
    @include flexPosition(center, center);
    // @include temporaryOutline(green);

    .increment-and-remove-btn-wrapper {
      @include flex(column);
      @include flexPosition(center, flex-start);
      // border: 2px solid blue;

      .increment-btn-wrapper {
        @include flex(row);
        @include flexPosition(space-evenly, center);
        @include widthHeight(110px, 50px);
        background-color: var(--White);
        border: 1px solid #000;
        // border: 2px solid red;

        button,
        .quantity {
          font-size: var(--Body-Small);
          color: var(--Black);
          font-weight: 400;
        }

        button {
          background-color: var(--White);
          border: none;
          outline: none;

          color: var(--Black);
          font-weight: 400;
          cursor: pointer;
          // border: 1px solid blue;
        }

        .quantity {
          user-select: none;
        }

        //^ These util classes for showing / hiding number dropdown menu must be inside cart-right class in order to function
        .hidden {
          display: none;
        }

        .bold {
          color: var(--Grey-100);
        }
      } // end increment btn wrapper

      .remove-btn {
        margin: 8px 0 0 0;
        font-family: var(--HN-Light);
        font-weight: 300;
        font-size: var(--Label);
        color: var(--Grey-50);
        cursor: pointer;
        &:active {
          color: var(--Black);
        }
      }
    } // end increment and remove btn wrapper

    .item-price {
      margin-left: 55px;
      font-family: var(--HN-Light);
      font-weight: bold;
      font-size: var(--Body-Small);
      color: var(--Black);
      line-height: 26px;
      letter-spacing: 0.6px;
    }
  } // end cart right
  // @include temporaryOutline(blue);
} // end item wrapper
