.item-wrapper {
  display: flex;
  flex-direction: row;
  width: 89.5%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: -6px 0 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.item-wrapper .cart-left {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
}
.item-wrapper .cart-left .cart-img {
  width: 125px;
  height: 150px;
  margin: 10px 0;
}
.item-wrapper .cart-left .cart-detail {
  width: 140px;
  height: 100%;
}
.item-wrapper .cart-left .cart-detail h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 6px;
  font-size: var(--Body);
  line-height: 26px;
}
.item-wrapper .cart-left .cart-detail .hidden {
  display: none;
}
.item-wrapper .cart-right {
  width: 40%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.item-wrapper .cart-right .increment-and-remove-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.item-wrapper .cart-right .increment-and-remove-btn-wrapper .increment-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 110px;
  height: 50px;
  background-color: var(--White);
  border: 1px solid #000;
}
.item-wrapper .cart-right .increment-and-remove-btn-wrapper .increment-btn-wrapper button,
.item-wrapper .cart-right .increment-and-remove-btn-wrapper .increment-btn-wrapper .quantity {
  font-size: var(--Body-Small);
  color: var(--Black);
  font-weight: 400;
}
.item-wrapper .cart-right .increment-and-remove-btn-wrapper .increment-btn-wrapper button {
  background-color: var(--White);
  border: none;
  outline: none;
  color: var(--Black);
  font-weight: 400;
  cursor: pointer;
}
.item-wrapper .cart-right .increment-and-remove-btn-wrapper .remove-btn {
  margin: 8px 0 0 0;
  font-family: var(--HN-Light);
  font-weight: 300;
  font-size: var(--Label);
  color: var(--Grey-50);
  cursor: pointer;
}
.item-wrapper .cart-right .increment-and-remove-btn-wrapper .remove-btn:active {
  color: var(--Black);
}
.item-wrapper .cart-right .item-price-2 {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 14px;
  font-family: var(--HN-Light);
  font-weight: bold;
  font-size: var(--Body-Small);
  color: var(--Black);
  line-height: 26px;
  letter-spacing: 0.6px;
  text-align: right;
}

@media screen and (max-width: 834px) {
  .item-wrapper {
    justify-content: space-between;
    align-items: center;
  }
  .item-wrapper .cart-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .item-wrapper .cart-left .cart-img {
    width: 125px;
    height: 150px;
    margin: 0;
  }
  .item-wrapper .cart-left .cart-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    margin-left: 20px;
  }
  .item-wrapper .cart-left .cart-detail h2 {
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    line-height: normal;
  }
  .item-wrapper .cart-left .cart-detail .hidden {
    display: none;
  }
  .item-wrapper .cart-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 100%;
  }
  .item-wrapper .cart-right .increment-and-remove-btn-wrapper {
    justify-content: center;
    align-items: center;
  }
  .item-wrapper .cart-right .item-price-2 {
    margin: 0 0 25px 0;
  }
}
@media screen and (max-width: 450px) {
  .item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 340px;
  }
  .item-wrapper .cart-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60%;
    max-width: 340px;
  }
  .item-wrapper .cart-left .cart-img {
    width: 102px;
    height: 127px;
    margin: 0;
  }
  .item-wrapper .cart-left .cart-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 14px;
  }
  .item-wrapper .cart-left .cart-detail h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    font-size: var(--Body-Small);
    text-align: left;
    line-height: 26px;
  }
  .item-wrapper .cart-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -15px;
  }
  .item-wrapper .cart-right .increment-and-remove-btn-wrapper {
    justify-content: center;
    align-items: flex-start;
  }
  .item-wrapper .cart-right .increment-and-remove-btn-wrapper .remove-btn {
    font-size: var(--Label);
  }
  .item-wrapper .cart-right .item-price-2 {
    margin: 0 0 25px 0;
  }
}
.hidden {
  display: none;
}

.bold {
  color: var(--Grey-100);
}

.red {
  color: red;
}/*# sourceMappingURL=ShoppingCartItem.css.map */