@import "../styleFunctions/functions";
//! Write utility classes for the other carousel sizes on different pages

.clients-outer-wrapper,
.clients-inner-wrapper {
  @include flex(column);
  @include flexPosition(center, center);
  background-color: var(--Background);
}

.clients-outer-wrapper {
  @include widthHeight(var(--Full), fit-content);
  margin-bottom: 120px;
  // @include temporaryOutline(red);

  .clients-inner-wrapper {
    @include widthHeight(780px, fit-content);
    @include maxWidth(90%);
    //   @include temporaryOutline(blue);
  }

  .clients-text-wrapper {
    @include flex(column);
    @include flexPosition(center, center);
    @include widthHeight(780px, fit-content);
    @include maxWidth(90%);
    margin-bottom: 80px;
    //   @include temporaryOutline(green);

    h1,
    p {
      @include widthHeight(780px, fit-content);
      @include maxWidth(100%);
      font-family: var(--HN-Light);
      font-weight: var(--Light-Weight);
      color: var(--Grey-100);
      text-align: center;
    }

    h1 {
      font-size: var(--Heading-1);
    }

    p {
      @include widthHeight(676px, fit-content);
      font-size: var(--Body);
      text-align: left;
      line-height: 26px;
      margin-bottom: 0;
    }
  } // End clients text wrapper

  .clients-img-wrapper {
    @include flex(column);
    @include flexPosition(center, center);
    @include widthHeight(580px, fit-content);
    @include maxWidth(95%);
    //   @include temporaryOutline(pink);
    margin-bottom: 120px;

    .client-logos-image {
      content: url("../../assets/images/home/client-logos/logos_desktop.svg");
    }
  } // End clients img wrapper
} // End Outer Wrapper

//Begin Tablet Media Queries
@media screen and (max-width: 834px) {
  //! be mindful of specificity issues
  .clients-inner-wrapper {
    .clients-text-wrapper {
      margin-bottom: 50px;
      h1 {
        font-size: var(--Heading-2);
      }
      p {
        display: none;
      }
    }
    .clients-img-wrapper {
      @include flex(row);
      @include flexPosition(center, center);
      @include widthHeight(470px, fit-content);
      @include maxWidth(95%);
      // @include temporaryOutline(pink);
      //^ Faster way of making everything larger
      transform: scale(1.25);
      margin-bottom: 120px;

      .client-logos-image {
        max-width: 60%;
        content: url("../../assets/images/home/client-logos/logos_tablet.svg");
      }
    }
  }
}

//Begin Mobile Media Queries
@media screen and (max-width: 390px) {
  //! be mindful of specificity issues
  .clients-inner-wrapper {
    .clients-text-wrapper {
      margin-bottom: 50px;
      h1 {
        font-size: var(--Heading-2);
      }
      p {
        display: none;
      }
    }
    .clients-img-wrapper {
      @include flex(row);
      @include flexPosition(center, center);
      @include widthHeight(470px, fit-content);
      @include maxWidth(95%);
      // @include temporaryOutline(pink);
      //^ Faster way of making everything larger
      transform: scale(1.25);
      margin-bottom: 120px;

      .client-logos-image {
        content: url("../../assets/images/home/client-logos/logos_mobile.svg");
      }
    }
  }
}
