.clients-outer-wrapper,
.clients-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Background);
}

.clients-outer-wrapper {
  width: var(--Full);
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 120px;
}
.clients-outer-wrapper .clients-inner-wrapper {
  width: 780px;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 90%;
}
.clients-outer-wrapper .clients-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 780px;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 90%;
  margin-bottom: 80px;
}
.clients-outer-wrapper .clients-text-wrapper h1,
.clients-outer-wrapper .clients-text-wrapper p {
  width: 780px;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  font-family: var(--HN-Light);
  font-weight: var(--Light-Weight);
  color: var(--Grey-100);
  text-align: center;
}
.clients-outer-wrapper .clients-text-wrapper h1 {
  font-size: var(--Heading-1);
}
.clients-outer-wrapper .clients-text-wrapper p {
  width: 676px;
  height: -moz-fit-content;
  height: fit-content;
  font-size: var(--Body);
  text-align: left;
  line-height: 26px;
  margin-bottom: 0;
}
.clients-outer-wrapper .clients-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 95%;
  margin-bottom: 120px;
}
.clients-outer-wrapper .clients-img-wrapper .client-logos-image {
  content: url("../../assets/images/home/client-logos/logos_desktop.svg");
}

@media screen and (max-width: 834px) {
  .clients-inner-wrapper .clients-text-wrapper {
    margin-bottom: 50px;
  }
  .clients-inner-wrapper .clients-text-wrapper h1 {
    font-size: var(--Heading-2);
  }
  .clients-inner-wrapper .clients-text-wrapper p {
    display: none;
  }
  .clients-inner-wrapper .clients-img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 95%;
    transform: scale(1.25);
    margin-bottom: 120px;
  }
  .clients-inner-wrapper .clients-img-wrapper .client-logos-image {
    max-width: 60%;
    content: url("../../assets/images/home/client-logos/logos_tablet.svg");
  }
}
@media screen and (max-width: 390px) {
  .clients-inner-wrapper .clients-text-wrapper {
    margin-bottom: 50px;
  }
  .clients-inner-wrapper .clients-text-wrapper h1 {
    font-size: var(--Heading-2);
  }
  .clients-inner-wrapper .clients-text-wrapper p {
    display: none;
  }
  .clients-inner-wrapper .clients-img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 95%;
    transform: scale(1.25);
    margin-bottom: 120px;
  }
  .clients-inner-wrapper .clients-img-wrapper .client-logos-image {
    content: url("../../assets/images/home/client-logos/logos_mobile.svg");
  }
}/*# sourceMappingURL=ClientsSection.css.map */