@import "../../components/styleFunctions/functions";

//^This class exists for the purpose graying out the background when the modal is visible. Think of it as an invisible overlay of the entire page. This work in conjunction with the grey-out class at the bottom of this file
.waitlist-modal-page-wrapper {
  @include flex(row);
  @include flexPosition(center, center);
  @include widthHeight(100vw, 1700px);
  //   background-color: red;
  z-index: 999;
}

.waitlist-wrapper {
  z-index: 999;
  @include flex(column);
  //   align-items: space-evenly;
  @include widthHeight(680px, fit-content);
  @include maxWidth(680px);
  padding: 30px 40px 0;
  background-color: var(--Background);
  //   @include temporaryOutline(red);

  h1,
  h2 {
    margin: 0;
    padding: 0;
    font-family: var(--HN-Light);
    font-weight: var(--Light-Weight);
    font-size: var(--Heading-2);
    color: var(--Black);
  }

  .waitlist-body-wrapper {
    @include flex(row);
    @include flexPosition(space-between, center);
    margin: 20px 0 25px;
    border-top: 1px solid var(--Black);
    border-bottom: 1px solid var(--Black);
    .waitlist-left {
      .waitlist-img {
        @include widthHeight(142px, 158px);
      }
      //   @include temporaryOutline(green);
    }
    .waitlist-right {
      position: relative;
      @include flex(row);
      @include flexPosition(center, flex-start);
      //   @include temporaryOutline(green);

      .waitlist-detail {
        margin-top: 20px;

        h2 {
          margin-bottom: 10px;
          font-size: var(--Body);
        }
      }
      //   @include temporaryOutline(green);

      .number-dropdown-button {
        @include flex(row);
        @include flexPosition(center, center);
        @include widthHeight(50px, 50px);
        margin: 15px 0 0 15px;
        padding: 0 16px;
        font-family: var(--HN-Light);
        font-weight: var(--Light-Weight);
        font-size: var(--Body-Small);
        color: var(--Black);
        background-color: var(--White);
        border: none;
        outline: none;
        border: 1px solid var(--Black);
        cursor: pointer;

        .arrow {
          margin-top: 6px;
        } // end arrow
      } // end drop down btn

      .waitlist-dropdown-wrapper {
        position: absolute;
        top: 58%;
        right: 0%;
        @include flex(column);
        @include flexPosition(center, flex-start);
        @include widthHeight(50px, 98px);
        padding-top: 60px;
        background-color: var(--White);
        border: 1px solid var(--Black);
        border-top: none;
        overflow-y: scroll;

        // @include temporaryOutline(red);

        .waitlist-option {
          display: none;
        }

        label {
          //*waitlist-select-item class
          //^ width 100% allows the mouse to select the label without hovering directly over text
          @include flex(column);
          @include flexPosition(center, center);
          width: 100%;
          height: 40px;
          margin: 6px 0 6px 0;
          font-family: var(--HN-Light);
          font-weight: var(--Light-Weight);
          font-size: var(--Body-Small);
          color: var(--Black);
          text-align: center;

          cursor: pointer;

          &:hover {
            font-family: var(--HN-Medium);
          }

          &:active {
            opacity: 65%;
          }
        }
      } // end drop down wrapper
      //^ These util classes for showing / hiding number dropdown menu must be inside waitlist-right class in order to function
      .hidden {
        display: none;
      }

      .bold {
        color: var(--Grey-100);
      }
    } // end waitlist right
    // @include temporaryOutline(blue);
  } // end waitlist body wrapper
  .waitlist-btn-wrapper {
    @include flex(row);
    @include flexPosition(flex-end, center);
    margin-bottom: 25px;
    // @include temporaryOutline(green);
  }
} // end waitlist wrapper

//^ Util class for showing and hiding modal
.hidden {
  display: none;
}

//^ Utility class for graying out the page
.gray-out {
  background-color: #00000033;
}
