@import "../styleFunctions/functions";

.services-outer-wrapper,
.services-inner-wrapper {
  @include flex(column);
  @include flexPosition(center, center);
}

.services-outer-wrapper {
  @include widthHeight(var(--Full), fit-content);
  // @include temporaryOutline(red);
}

.services-inner-wrapper {
  //   @include widthHeight(780px, 100%);
  //   @include maxWidth(780px);
  max-width: 82%;
  margin: 0 25px 118px 25px;
  //   @include temporaryOutline(pink);

  .component-title-wrapper {
    @include widthHeight(100%, 100%);
    border-bottom: 0.5px solid var(--Grey-100);
    // @include temporaryOutline(green);

    .component-title {
      margin-bottom: 70px;
      font-family: var(--HN-Light);
      font-weight: var(--Light-Weight);
      font-size: var(--Heading-1);
      color: var(--Grey-100);
      text-align: center;
    }
  }
}

//Begin Tablet Media Queries
@media screen and (max-width: 834px) {
  .services-inner-wrapper {
    .component-title-wrapper {
      .component-title {
        font-size: var(--Heading-2);
        margin: 0 0 40px 0;
      }
    }
  }
}

//Begin Mobile Media Queries
@media screen and (max-width: 530px) {
  .services-outer-wrapper {
    // @include widthHeight(var(--Full), 350px);
    // border: 2px solid red;

    margin-top: -70px;
    .services-inner-wrapper {
      margin-bottom: 32px;
      .component-title-wrapper {
        .component-title {
          font-size: var(--Heading-2);
          margin: 0 0 40px 0;
        }
      }
    }
  }
}
