@import "../../../components/styleFunctions/functions";

.shop-page-wrapper {
  @include flex(column);
  @include flexPosition(center, center);
  // @include temporaryOutline(red);
}

.shop-products-wrapper {
  flex-wrap: wrap;
  //^ flex gap for spacing
  // gap between rows, X axis
  row-gap: 45px;
  //gap between columns, Y axis
  column-gap: 100px;
  margin-top: 140px;
  margin-bottom: 212px;

  @include flex(row);
  @include flexPosition(space-evenly, space-evenly);
  @include widthHeight(90%, fit-content);
  @include maxWidth(1076px);
  min-height: 645px;
  // @include temporaryOutline(green);

  .item-card-link {
    //^ Removes the underline from ItemCard component text
    text-decoration: none;
  }

  //^ Utility classes
  .out-of-stock {
    opacity: 100%;
    background-color: transparent;
    cursor: pointer;
  }
}
