.nav-inner-wrapper,
.nav-links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-outer-wrapper {
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--Full);
  height: 142px;
  background-color: var(--Background);
}
.nav-outer-wrapper .nav-inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 45px;
  max-width: --Desktop;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav-outer-wrapper .nav-inner-wrapper .nav-logo {
  width: 238px;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 10px;
}
.nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper {
  width: 409px;
  height: 45px;
}
.nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper a,
.nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper .cart-btn {
  font-family: var(--HN-Light);
  font-weight: var(--Light-Weight);
  font-size: var(--Heading-3);
  color: var(--Black);
  text-decoration: none;
}
.nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper a:hover,
.nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper .cart-btn:hover {
  text-decoration: underline;
}
.nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper a:active,
.nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper .cart-btn:active {
  opacity: 85%;
}
.nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper .cart-btn {
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
}
.nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper .hamburger-menu {
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: -5px;
  cursor: pointer;
}

@media screen and (max-width: 834px) {
  .nav-links-wrapper {
    justify-content: flex-end;
    align-items: center;
  }
  .nav-links-wrapper a,
  .nav-links-wrapper .cart-btn {
    display: none;
  }
  .nav-links-wrapper .hamburger-menu img {
    width: 35.41px;
    height: 32.19px;
  }
}
@media screen and (max-width: 530px) {
  .nav-outer-wrapper .nav-inner-wrapper {
    width: 90%;
    height: 45px;
    justify-content: center;
    align-items: center;
  }
  .nav-outer-wrapper .nav-inner-wrapper a {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .nav-outer-wrapper .nav-inner-wrapper a .nav-logo {
    width: 128.57px;
    width: 128.57px;
    max-width: 128.57px;
    height: 64px;
    margin-left: 0px;
  }
  .nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper {
    justify-content: flex-end;
    align-items: center;
  }
  .nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper a,
  .nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper .cart-btn {
    display: none;
  }
  .nav-outer-wrapper .nav-inner-wrapper .nav-links-wrapper .hamburger-menu img {
    width: 30px;
    height: 30px;
  }
}
.hide {
  display: none;
}

.lock {
  position: sticky;
  top: 0;
  z-index: 999;
}/*# sourceMappingURL=Navbar.css.map */