@import "../styleFunctions/functions";

.carousel-outer-wrapper,
.carousel-inner-wrapper {
  @include flex(row);
  @include flexPosition(center, center);
  background-color: var(--Background);
}

.carousel-outer-wrapper {
  @include widthHeight(var(--Full), fit-content);
  margin-bottom: 131px;
  //   @include temporaryOutline(red);
}

.carousel-inner-wrapper {
  //& Build infinite scroll behavior
  // should scroll with both X and Y mouse scroll wheels

  @include flexPosition(flex-start, flex-start);
  @include widthHeight(100%, fit-content);
  @include temporaryOutline(green);

  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Remove scrollbar Firefox inner wrapper */

  //^ Hide scrollbar  (Chrome, Safari and Opera)
  -webkit-scrollbar {
    scrollbar-width: none;
  }

  //^ Hide scrollbar  (IE, Edge, Firefox)
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Remove scrollbar Firefox image-wrapper  */

  //! add white shadow
  //& Build infinite scroll behavior
  //   @include temporaryOutline(blue);

  //* this img tag will be replaced by utility classes
  img {
    max-width: 40%;
    max-height: 600px;
    margin: 0 20px 0 0;
    @include temporaryOutline(red);
  } // End img
} // End inner wrapper
