@import "../styleFunctions/functions";

.carousel-outer-wrapper,
.carousel-inner-wrapper {
  @include flex(row);
  @include flexPosition(center, center);
  background-color: var(--Background);
}

.carousel-outer-wrapper {
  @include widthHeight(var(--Full), fit-content);
  margin-bottom: 131px;
  @include temporaryOutline(red);
}

.carousel-inner-wrapper {
  @include widthHeight(var(--Desktop), 100%);
  @include temporaryOutline(blue);
  //! add white shadow
  //! hide scroll bar
  overflow-x: scroll;
  scroll-behavior: smooth;

  img {
    max-width: 480px;
    max-height: 600px;
    margin: 0 20px 0 0;
    padding: 0;
    transform: translateX(1160px);
    // @include temporaryOutline(red);
    object-fit: cover;
  }
}
