@import "../../components/styleFunctions/functions";

//^This class exists for the purpose graying out the background when the modal is visible. Think of it as an invisible overlay of the entire page. This work in conjunction with the grey-out class at the bottom of this file
.limit-modal-page-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include flex(row);
  @include flexPosition(center, center);
  @include widthHeight(100vw, 1700px);
  z-index: 999;
}

.limit-inner-wrapper {
  z-index: 999;
  @include flex(column);
  @include widthHeight(450px, fit-content);
  @include maxWidth(450px);
  margin: 0 20px;
  padding: 20px 30px 0;
  background-color: var(--Background);
  filter: drop-shadow(3px 3px 3px rgb(0 0 0 / 0.1));
  //   @include temporaryOutline(red);

  h1 {
    margin: 25px 0;
    padding: 0;
    font-family: var(--HN-Light);
    font-weight: var(--Light-Weight);
    font-size: var(--Heading-2);
    text-align: center;
    color: var(--Black);
  }

  .limit-body-wrapper {
    @include flex(row);
    @include flexPosition(center, center);
    margin: 20px 0;
    border-top: 1px solid var(--Black);
    border-bottom: 1px solid var(--Black);
    // @include temporaryOutline(blue);
  } // end limit body wrapper

  .limit-btn-wrapper {
    @include flex(row);
    @include flexPosition(flex-end, center);
    gap: 8px;
    margin-bottom: 25px;
    // @include temporaryOutline(green);
  }
} // end waitlist wrapper

//^ Util class for showing and hiding modal
.hidden {
  display: none;
}

//^ Utility class for graying out the page
.gray-out {
  background-color: #00000033;
}
