@import "../styleFunctions/functions";

.textsection-outer-wrapper {
  display: flex;
  @include flexPosition(center, center);
  @include widthHeight(var(--Full), fit-content);
  margin-top: 80px;
  margin-bottom: 198px;
  //   @include temporaryOutline(red);
}

.textsection-inner-wrapper {
  @include flex(row);
  @include flexPosition(center, center);
  @include widthHeight(var(--Desktop), fit-content);
  @include maxWidth(782px);
  // @include temporaryOutline(blue);

  .bold {
    font-family: var(--HN-Medium);
  }

  p {
    margin: 0;
    padding: 0px;
    line-height: 26px;
    font-family: var(--HN-Light);
    font-weight: var(--Light-Weight);
    font-size: var(--Body);
    color: var(--Grey-100);
  }
}

//Begin Tablet Media Queries
@media screen and (max-width: 834px) {
  .textsection-outer-wrapper {
    margin-top: 0;
    margin-bottom: 68px;
    .textsection-inner-wrapper {
      @include maxWidth(730px);
      margin: 0 25px;
      // border: 1px solid blue;

      .bold {
        font-family: var(--HN-Light);
      }

      p {
        margin: 0;
        padding: 0px;
        line-height: 26px;
        font-family: var(--HN-Light);
        font-weight: var(--Light-Weight);
        font-size: var(--Body);
        color: var(--Grey-100);
      }

      .text-split {
        display: block;
        margin-top: 35px;
      }
    }
  }
} // end tablet queries

//Begin mobile Queries
@media screen and (max-width: 390px) {
  .textsection-outer-wrapper {
    margin-top: 0;
    margin-bottom: 68px;
    .textsection-inner-wrapper {
      @include maxWidth(340px);
      margin: 0 18px;
      // border: 1px solid blue;

      .bold {
        font-family: var(--HN-Medium);
      }

      p {
        margin: 0;
        padding: 0px;
        line-height: 26px;
        font-family: var(--HN-Light);
        font-weight: 300;
        font-size: var(--Body-Small);
        color: var(--Grey-100);
      }

      .text-split {
        display: block;
        margin-top: 25px;
      }
    }
  }
} // end mobile queries
