@import "../../../components/styleFunctions/functions";

.item-detail-page-outer-wrapper {
  position: relative;
  @include flex(column);
  @include flexPosition(flex-start, center);
  // @include widthHeight(var(--Full), 825px);
  height: 897px;
  background-color: var(--Background);
  // @include temporaryOutline(red);
  user-select: none;
}

.item-detail-page-inner-wrapper {
  @include flex(row);
  @include flexPosition(space-evenly, flex-start);
  // @include widthHeight(var(--Desktop), fit-content);
  @include maxWidth(var(--Desktop));
  height: fit-content;
  min-height: 676px;
  margin: 0 40px;
  // @include temporaryOutline(blue);

  .item-detail-left-wrapper {
    @include flex(column);
    @include flexPosition(flex-start, center);
    // @include widthHeight(50%, 676px);
    @include maxWidth(50%);
    height: 676px;
    min-height: fit-content;
    margin-top: 0px;
    // @include temporaryOutline(green);

    .image-and-cycle-wrapper {
      position: relative;
      @include flex(column);
      @include flexPosition(flex-start, center);
      max-height: 676px;

      // @include temporaryOutline(yellow);
    }

    .product {
      // @include widthHeight(550px, auto);
      max-width: 76.39%;
      height: auto;
      max-height: 95%;
      margin-top: 30px;
      cursor: pointer;
      // @include temporaryOutline(orange);
    }

    .out-of-stock {
      // opacity: 60%;
      opacity: 100%;
    }

    .cycle-box-wrapper {
      position: absolute;
      bottom: -3%;
      @include flex(row);
      @include flexPosition(center, center);
      gap: 9px;
      @include widthHeight(fit-content, fit-content);
      // @include temporaryOutline(black);

      .cycle-box {
        @include widthHeight(18px, 7.2px);
        background-color: var(--Grey-20);
        // @include temporaryOutline(red);
      } // end cycle box

      //^Utility class for switching cycle box color
      .active {
        background-color: var(--Grey-100);
      } // end util class
    } // end cycle box wrapper
  } // end left wrapper

  .item-detail-right-wrapper {
    @include flex(column);
    @include flexPosition(center, flex-start);
    // @include widthHeight(35%, fit-content);
    @include maxWidth(35%);
    height: fit-content;
    min-height: fit-content;
    margin-top: 0px;
    // @include temporaryOutline(rgb(19, 230, 230));

    .product-name,
    .price,
    .description {
      margin: 0 0 28px 0;
      font-family: var(--HN-Light);
      font-weight: var(--Light-Weight);
      font-size: var(--Heading-1);
      color: var(--Grey-100);
    }

    .product-name {
      margin: 75px 0 16px 0;
    }

    .price {
      margin: 0 0 24px 0;
    }

    .description {
      @include maxWidth(381px);
      height: auto;
      min-height: 100px;
      margin-bottom: 115px;
      font-size: var(--Body-Small);
      line-height: 26px;
    }

    .item-detail-btn,
    .item-detail-filter-btn {
      @include maxWidth(100%);
    }
  } // end right wrapper
} // end inner wrapper

//^ Modal Position
.waitlist-modal-position,
.limit-modal-position {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Begin Tablet Media Queries
@media screen and (max-width: 834px) {
  .item-detail-page-inner-wrapper {
    @include flexPosition(space-between, flex-start);
    // @include temporaryOutline(blue);

    .item-detail-left-wrapper {
      @include maxWidth(65%);
      // @include temporaryOutline(green);

      .image-and-cycle-wrapper {
        max-height: 100%;
        // @include temporaryOutline(yellow);
      }

      .product {
        max-width: 69.48%;
        height: auto;
        margin-top: 50px;

        // @include temporaryOutline(orange);
      }

      .cycle-box-wrapper {
        bottom: -3%;
        // @include temporaryOutline(black);

        .cycle-box {
          @include widthHeight(11.145px, 4.458px);
          // @include temporaryOutline(red);
        } // end cycle box
      } // end cycle box wrapper
    } // end left wrapper

    .item-detail-right-wrapper {
      @include maxWidth(35%);
      height: fit-content;

      // @include temporaryOutline(rgb(19, 230, 230));

      .product-name,
      .price,
      .description {
        font-family: var(--HN-Light);
        // font-weight: 300;
        font-size: var(--Heading-2);
      }

      .product-name {
        margin-top: 60px;
      }

      .description {
        @include maxWidth(100%);
        margin-bottom: 18px;
        font-size: var(--Body);
      }

      .item-detail-btn,
      .item-detail-filter-btn {
        @include maxWidth(100%);
      }
    } // end right wrapper
  } // end inner wrapper
}

//Begin Mobile Media Queries
@media screen and (max-width: 530px) {
  .item-detail-page-inner-wrapper {
    @include flex(column);
    @include flexPosition(flex-start, center);
    height: fit-content;
    // @include temporaryOutline(blue);

    .item-detail-left-wrapper {
      @include maxWidth(100%);
      max-height: 35%;
      margin-bottom: 50px;
      // @include temporaryOutline(green);

      .image-and-cycle-wrapper {
        // @include temporaryOutline(yellow);
      }

      .product {
        max-width: 75%;
        // @include temporaryOutline(orange);
      }

      .cycle-box-wrapper {
        bottom: -5%;
        // @include temporaryOutline(black);

        .cycle-box {
          @include widthHeight(18px, 7.2px);
          // @include temporaryOutline(red);
        } // end cycle box
      } // end cycle box wrapper
    } // end left wrapper

    .item-detail-right-wrapper {
      @include flexPosition(flex-start, flex-start);

      @include maxWidth(100%);
      height: fit-content;
      margin: 0 25px 0 0;
      // @include temporaryOutline(rgb(19, 230, 230));

      .product-name,
      .price,
      .description {
        font-family: var(--HN-Light);
        // font-weight: 300;
        font-size: var(--Heading-2);
      }
      .price {
        margin-bottom: 18px;
      }

      .product-name {
        margin: 10px 0 10px 0;
      }

      .description {
        width: 78%;
        max-height: 135px;
        margin-bottom: 25px;
        font-size: var(--Body-Small);
        line-height: 26px;
        overflow-y: scroll;
      }

      .item-detail-btn,
      .item-detail-filter-btn {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    } // end right wrapper
  } // end inner wrapper
}
