@import-normalize;
@import "../src/components/styleFunctions/functions";

/* CSS Variable Declarations */
:root {
  /** Screen Sizes */
  --Full: 100vw;
  --Desktop: 1440px;
  --Tablet: 834px;
  --Mobile: 390px;

  /** Colors */

  --Background: #f0f1f5;
  --White: #ffffff;
  --Grey-100: #313131;
  --Grey-50: #848484;
  --Grey-20: #cccccc;
  --Accent: #ffa338;
  --Black: #000;
  --HighlightMobile: #dee0e9;

  /** Fonts */
  --HN-Light: "Helvetica Neue Light";
  --HN-Light-Italic: "Helvetica Neue Light Italic";
  --HN-Medium: "Helvetica Neue Medium";
  --Windsor: "Windsor Regular";

  /** Font Sizes */
  --Heading-1: 34px;
  --Heading-2: 24px;
  --Heading-3: 20px;
  --Body: 18px;
  --Body-Small: 16px;
  --CTA: 18px;
  --Navigation: 15px;
  --Label: 15px;

  /** Font Weights */
  --Light-Weight: 100;
}

* {
  box-sizing: border-box;
}

html {
  @include flexPosition(center, center);
  background-color: var(--Background);
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: local("Helvetica-Neue-Light"),
    url("./assets/fonts/Helvetica-Neue-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue Light Italic";
  src: local("Helvetica-Neue-Light-Italic"),
    url("../src/assets/fonts/Helvetica-Neue-Light-Italic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: local("Helvetica-Neue-Medium"),
    url("./assets/fonts/Helvetica-Neue-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Windsor Regular";
  src: local("Windsor-Regular"),
    url("./assets/fonts/Windsor-Regular.ttf") format("truetype");
}

// .App {

// }
